body{
	min-height: 1400px;
}

.jumbotron{
	height: 600px;
	background-image: url("images/groceries.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	display: flex;
	justify-content: center;
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);	
	animation-name: zoomIn;
	animation-duration: 0.7s;
}
.all-groups{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.group{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 500px;
	height: 450px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation-name: bounceInLeft;
	animation-duration: 0.7s;	
}

.group a, .info a{
	font-size: 1.5rem;
	position: relative;
	color: white;
	z-index: 110;
	width: 200px;
	border: 1px solid white;
}
.group a:hover, .info a:hover{
	border: 1px solid white;
	background-color: white;
	color: black;
}


.translucent{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 100;
	transition: all 0.65s ease-in-out;
}

.group-name{
	color: white;
	position: relative;
	z-index: 150;
}